{
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "es6": true
  },
  "plugins": ["pretty-imports"],
  "rules": {
    "pretty-imports/sorted": "warn",
    "no-unused-vars": "error"
  }
}
